@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.account{
  position: absolute;
  left: 50%;
  top: 0.75rem;
  transform: translate(-50%);
}

.circle {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(45deg, #0000ff, #ff00ff);
  border-radius: 50%;
}

@media (max-width: 1020px) {
  .account{
    position: static;
    
  }
}

@media (max-width: 640px) {
  .account {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
  }
  .display {
    display: none;
  }
  .button {
    width: 100%;
  }
  .button button {
    margin-top: 60px;
  }
}

.thumbnail{
  aspect-ratio: 5/4;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* The Close Button */
.close {
  position: absolute;
    right: 0.8rem;
    top: 0.1rem;
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border-radius: 0.5rem;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
@media (max-width: 800px) {
  .modal-content {
    width: 60%;
  }
}
@media (max-width: 550px) {
  .modal-content {
    width: 70%;
  }
}
@media (max-width: 450px) {
  .modal-content {
    width: 80%;
  }
}
.modal-title {
  font-size: large;
  font-weight: bold;
}
.modal-body {
  & > div {
    gap: 1rem;
    width: 100%;
    height: 100%;
    & > input {
      width: 100%;
      height: 70%;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);
      padding-inline: 10px;
      &:focus {
        background-color: white;
        box-shadow: 1px 1px 3px 0px #c2c2c2;
      }
    }
    & > div {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
      & > button {
        height: 2rem;
        color: white;
        border: none;
        outline: none;
        border-radius: 3px;
        padding-inline: 0.5rem;
      }
      & > .submit {
        background-color: rgb(240, 240, 240);
        color: black;
        &:hover {
          background-color: rgb(218, 218, 218);
        }
      }
      & > .create {
        background-color: #3882e4;
        &:hover {
          background-color: #3173ca;
        }
      }
    }
  }
}

.partnersCard{
  height: 80vh;
  overflow-x: hidden;
}