@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}

.account{
  position: absolute;
  left: 50%;
  top: 0.75rem;
  transform: translate(-50%);
}

.circle {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(45deg, #0000ff, #ff00ff);
  border-radius: 50%;
}

@media (max-width: 1020px) {
  .account{
    position: static;
    
  }
}

@media (max-width: 640px) {
  .account {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
  }
  .display {
    display: none;
  }
  .button {
    width: 100%;
  }
  .button button {
    margin-top: 60px;
  }
}

.thumbnail{
  aspect-ratio: 5/4;
}